table, td {
    border: 1px solid black;
}

.satu {
    background-color:black;
    color: white;
}

.banyak {
    background-color: green;
    color: white;
}

.enambelas {
    background-color: red;
    color: white;
}